@page
@model WorkoutTrackingApp.Pages.IndexModel
@{
    // Transferred the home page froma controller to a razor page 
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    // This shall be the home page that everyone lands on.
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1> To The Fitness App Landing Home Page!!. </h1>
    <!--<<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>

