@{
   
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
//This shall be the home page that everyone lands on. 
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1> Hello World! Would you like to develop an app?</h1>
