@model WorkoutTrackingApp.Models.Workout
@{
    ViewData["Title"] = "Create Workout";
    
}

<h1>Create a new Workout</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name">Workout Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

        <label asp-for="Author">Author</label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
